__pycache__/Camera.cpython-39.pyc
__pycache__/Enums.cpython-39.pyc
__pycache__/Game.cpython-39.pyc
__pycache__/Json.cpython-39.pyc
__pycache__/Window.cpython-39.pyc
entitys/__pycache__/PlayerEntity.cpython-39.pyc
handler/__pycache__/EntityHandler.cpython-39.pyc
handler/__pycache__/EventHandler.cpython-39.pyc
.vscode/settings.json
__pycache__/DevTools.cpython-39.pyc
.vscode/tasks.json
handler/__pycache__/MapHandler.cpython-39.pyc
handler/__pycache__/SpriteSheetHandler.cpython-39.pyc
handler/__pycache__/ObjectHandler.cpython-39.pyc
objects/__pycache__/TileObject.cpython-39.pyc
objects/__pycache__/SpriteObject.cpython-39.pyc
